.main-container {
  padding-top: 65px;
}

.fun-home-page {
  margin: 32px auto 107px;
  padding: 0 16px;
}

.section-header {
  display: flex;
  align-items: center;
  height: 36px;
  i {
    color: $selected-color;
    font-size: 30px;
  }
  span {
    margin-left: 12px;
    font-size: 25px;
    font-weight: 600;
  }
}

.section-body {
  padding: 24px 0 20px;
}

.specials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.specialsCard {
  flex-shrink: 0;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
  width: 490px;
  height: 450px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(18, 18, 18, .1);
  .specialsBanner {
    display: block;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .specialsHeader {
    display: flex;
    align-items: center;
    margin: 0 24px;
    padding: 30px 0;
    height: 110px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    .specialsInfo {
      flex: 1 1;
      .specialsTitle {
        width: 330px;
        line-height: 28px;
        max-height: 56px;
        font-size: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 600;
      }
      .specialsMeta {
        margin-top: 4px;
        height: 17px;
        line-height: 17px;
        font-size: 12px;
        color: #999;
        span+span {
          &::before {
            content: '·';
            margin: 0 4px;
          }
        }
      }
    }
  }
  .contentList {
    margin: 20px 24px;
    .contentItem {
      display: flex;
      align-items: center;
      height: 24px;
      padding: 5px 0;
      .author {
        background-color: #f6f6f6;
        color: #8590a6;
        size: 12px;
        transform: scale(0.85);
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 8px;
      }
      .contentTitle {
        flex: 1 1;
        margin-left: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.section-moreButton {
  display: flex;
  justify-content: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.columnsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 24px;
  box-sizing: border-box;
  min-width: 235px;
  width: 187px;
  height: 313px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(18, 18, 18, .1);
  .columnsCardAvatar {
    display: block;
    width: 80px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .columnsCardTitle {
    margin-top: 20px;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    max-width: 187px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
  }
  .columnsMeta {
    margin-top: 4px;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: #999;
    span+span {
      &::before {
        content: '·';
        margin: 0 4px;
      }
    }
  }
  .columnsCardIntro {
    margin-top: 20px;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #444;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}